@import "tailwindcss";

@theme {
  --color-green1: #5ebd91;
  --color-green2: #0e623e;
  --color-green3: #13452c;
  --color-bg-gray: #f7f7f7;
}

.card {
  width: 300px;
  padding: 24px;
  border-radius: 20px;
  color: white;

  /* Gradient background */
  background: linear-gradient(135deg, #1f5f3a 0%, #2e8b57 50%, #3cb371 100%);

  /* Optional soft shadow like UI cards */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
