@import "tailwindcss";

@theme {
  --color-green1: #5ebd91;
  --color-green2: #0e623e;
  --color-green3: #13452c;
  --color-bg-gray: #f7f7f7;
}

/* body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  inset: 0;
  background-image: url("/demo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
} */
